<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    estou dentro da app
    <main></main>
    <button id="sair">Sair</button>
    <script>
        // localStorage.setItem("usuario", "Tom");
        (
    async function(){
        console.log("boas a todos");
        const response = await fetch("/enviousuario");
        const usuario = await response.json();
        console.log(usuario);

        if(usuario !== "usuario no autorizado"){
        console.log("usuario.usuario", usuario.usuario);
        console.log("usuario.usuario.nome", usuario.usuario.nome); 
        localStorage.setItem("usuario", usuario.usuario.nome) 
        document.querySelector("main").innerHTML = `<h1> Benvido ${usuario.usuario.nome}</h1>`
        }
    }
            )();

            sair.addEventListener("click", ()=>{
                console.log("sair");
                location.replace("/");
            })
    </script>
</body>
</html>